@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Fifaks10dev1";
  src: url("../fonts/Fifaks10dev1.woff") format("woff"),
    url("../fonts/Fifaks10dev1.woff2") format("woff2");
}

body {
  max-width: 560px;
  padding: 15px;
  font-size: 22px;
  line-height: 1.1;
  font-family: "Fifaks10dev1", Arial, sans-serif;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}